<h5><b><%= sozee.sozee_name%></b></h5>
<h6><%= sozee.price_per_hour %> €/heure</h6>
<p>Sozee de : <font color=#617CEC><%= sozee.sozee_of %></p></font>
<br>
<center><%= link_to "Réserver", sozee_path(sozee), class: "btn-home" %></center>
<br>
