<div class="container">
  <h3>The sozees</h3>
  <div class="row">
    <% @sozees.each do |sozee|  %>
        <div class="col-xs-12 col-sm-4">
          <div class="index-card">
            <div class="index-card-content" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path sozee.photo %>')">
                <div class="city">
                  <p><i class="fa fa-map-marker" aria-hidden="true"></i></i> Sozee.city</p>
                </div>
                <div class="card-user-profile-picture">
                  <p>user profile pic</p>
                </div>
                <div class="card-description">
                  <h2><%= link_to sozee.sozee_name, sozee_path(sozee) %></h2>
                  <p><%= sozee.description %></p>
                </div>
                <div class="price">
                  <p><i class="fa fa-eur" aria-hidden="true"></i> <%= sozee.price_per_hour %></p>
                </div>
            </div>
            <div class="index-card-stats">
                <ul>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
            </div>
          </div>
        </div>
     <% end %>
  </div>
</div>

