<div class="container">
<h3>The sozees</h3>
  <div class="row">
    <% @sozees.each do |sozee|  %>
      <div class="col-xs-12 col-sm-4">
        <div class="card text-center">
          <%= link_to sozee.sozee_name, sozee_path(sozee) %>
          <%= sozee.description  %>
        </div>
      </div>
    <% end %>
  </div>
</div>
