.container-show {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  height: calc(96vh - 70px);
}

.card-show {
  position: relative;
  flex: 0 0 58%;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(150, 150, 150, 0.7);
  padding-top: 15px;
  padding-left: 50px;
  padding-right: 50px;
} p {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

#card-show-image {
  padding: 0 25px;
  padding-bottom: 10px;
}

#sozee-name-show {
  position: absolute;
  bottom: 190px;
  left: 65px;
  font-weight: lighter;
  margin: 0 10px;
  margin-top: 15px;
}

#sozee-price-show {
  position: absolute;
  bottom: 170px;
  right: 65px;
  margin: 0 10px;
  margin-top: 15px;
}

.wrapper-sozee-show {
  position: relative;
}

.sozee-infos-show {
  position: absolute;
  top: -40px;
  left: 28px;
  font-size: 13px;
}

.reviews {
  position: absolute;
  top: 60px;
  right: 80px;
  margin-top: 15px;
} h4 {
  margin-top: 0;
  margin-bottom: 0;
  color: #496DF4;
  font-size: 20px;
}

.review-category {
  font-size: 9px;
  margin-left: 5px;
}

li {
  margin: 15px;
}

.sozee-description-show {
  margin-top: 80px;
  margin-left: 30px;

}
.info-show {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(150, 150, 150, 0.7);
  padding: 10px 80px;
  font-size: 14px;
  .form-control {
    font-size: 14px;
  }
}

#title-info-show {
  position: absolute;
  top: 8px;
  right: 50px;
  font-weight: lighter;
  margin: 25px 10px;
  font-size: 25px;
}

.form-container-show {
  margin-top: 38px;
}

.booking-info-show {
  position: absolute;
  top: 10px;
  left: 19px;
  font-size: 30px;
}

#new-booking-title {
  position: absolute;
  top: 23px;
  left: 19px;
  font-size: 25px;
  font-weight: lighter;
}

.new-booking-form {
  margin-top: 85px;
}

#mon-annonce {
  position: absolute;
  top: 60px;
  left: 20px;
}

#gerer-mon-annonce {
  position: absolute;
  top: 120px;
  left: 20px;
}

.sozee-own-annonce {
  background-color: red;
  border: 3px solid red;
}
