<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "johnny.jpg" %>');">
  <div class="banner-content">
    <h1> Louez votre idole. </h1>
    <p>Parce que vous méritez tous un Johnny dans votre soirée.</p>
    <div class="text-center padded">
    <%= link_to "Réserver", sozees_path, class: "btn-home" %>
    </div>
  </div>
</div>
