/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: $green;
  margin-bottom: 0px;
}
.alert-warning {
  background: $red;
  margin-bottom: 0px !important;
}
